body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

/* content div containing form or list */
.content {
	 min-height: 400px; 
}

/* all data fields whether in show or form */
.field { 
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* data fields in form */
.form_div .field {  
}

/* label in form */
.form_div .label { 
}

/* each record in form */
.form_div .record { 
}

/* all labels whether in show or form */
.label { 
  text-align: right;
  float: left;
  display: inline;
  padding-right: 10px;
  font-weight: bold;
  width: 120px;
}

/* list div containing table */
.list { 
}

/* list data field */
.list td { 
}

/* list heading */
.list th { 
}

/* list operation - action links */
.list td a { 
}

/* main div top level div next to messages */
.main {  
}

/* flash messages at top of screens, top level div, informational */
.messages { 
  color: green;
}

/* links that invoke actions on any page */
.operation { 
}

/* operations - div containing buttons for form */
.operations { 
    position: relative;
    left: 130px;
}

/* each record whether on show or form */
.record {
  margin-bottom: 10px;
  clear: left; 
}

/* data field on show */
.show_div .field { 
}

/* labels on show */
.show_div .label { 
}

/* records on show */
.show_div .record { 
}

/* sidebar div containing navigation options for page */
.sidebar { 
}

.config_info .section_header {
  font-weight: bold; 
  margin-top: 6px;
}


#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
