*.vcxproj

ImageMagickObject/dlldata.c
ImageMagickObject/vc*

/bin
/Debug
/lib
/Release

/bzlib
/cairo
/configure
/croco
/dcraw
/demos
/exr
/ffi
/glib
/iptcutil
/jbig
/jp2
/jpeg
/lcms
/librsvg
/libxml
/lqr
/openjpeg
/pango
/PerlMagick
/pixman
/png
/tiff
/ttf
/webp
/zlib

*.ipch
*.opendb
*.sdf
*.sln
*.suo
*.user
